* {padding: 0; margin: 0;}

#main {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" 
    "content content content" "footer footer footer";
    justify-content: center;
    }
    .mainHeader {grid-area: header; background:#595e96;}
    .mainNav {grid-area: nav; background: #595e96;}
    .mainContent {grid-area: content; background: #cc4d00;}
    .mainFooter {grid-area: footer; background: #d7d7d7;}
        
/*breakpoints */
        
    @media screen and (max-width: 768px){
    body {background: black;}   
    #main {grid-template-areas: "header" "content" "footer";}
    .mainNav {grid-area: header; margin-top: 0px;}    
    }

/*flexbox */

.mainHeader {
    background: #595e96;
    width: 1100px;
    height: 10px;
    display: flex;
    }

.mainNav {
    background: #595e96;
    width: 1100px;
    height: 590px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    line-height: 150px;
    }

.mainContent {
    background: #cc4d00;
    width: 1100px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    }

.mainFooter {
    background: #d7d7d7;
    width: 1100px;
    height: 250px;
    display: -moz-inline-grid;

} 

/*nav */

.mainNav {
}

#display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
    }

h1 {
    color: white;
    text-decoration: none;
    font-family: 'Livvic', sans-serif;    
    font-size: 40px;
    text-align: center;
    }
        
h2  {
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: right;
    }

/*content */    

.item {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 
    alt: initial;
    grid-area: auto;
    margin-top: 30px;
    }

/*footer */

input, textarea {
    border: 3px solid;
    border-color: black;
    position: relative;
    float: left;
    }

.email input {
    color:grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    height: 40px;
    }

.enviar input {
    background: #cc4d00;
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 46px;
    cursor: pointer;
    }

.enviar input:hover {
    background:#595e96;
    }