* {padding: 0; margin: 0}
#main {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "content content content" "footer footer footer";
    }
    .mainHeader {grid-area: header; background:#595e96;}
    .mainNav {grid-area: nav; background: #595e96;}
    .mainContent {grid-area: content; background: #cc4d00;}
    .mainFooter {grid-area: footer; background: #d7d7d7;}
        
/*breakpoints */
        
    @media screen and (max-width: 768px){
    body {background: black;}   
    #main {grid-template-areas: "header" "content" "footer";}
    .mainNav {grid-area: header; margin-top: 0px;}    
    }

/*flexbox */

.mainHeader {
    background: #595e96;
    width: 2500px;
    height: 10vh;
    display: flex;
    }

.mainNav {
    background: #595e96;
    width: 2500px;
    height: 1875px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    }

.mainContent {
    background: #cc4d00;
    width: 2500px;
    height: 625px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    }

.mainFooter {
    background: #d7d7d7;
    width: 2500px;
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    }

/*nav */

.mainNav {
}

.IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px; 
    height: 60px;
    }

h1 {
    color: white;
    text-decoration: none;
    font-family: 'Livvic', sans-serif;    
    font-size: 120px;
    text-align: center;  
    }
        
h2  {
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: right;
    }

/*content */    

.item {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 
    alt: initial;
    grid-area: auto;
    margin-top: 100px;
    }

/*footer */


h3 {
color:black;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 60px;
text-align: left;
}

h4 {
color:black;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 60px;
text-align: none;
}

        