* {padding: 0; margin: 0}
#main {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "content content content" "footer footer footer";
    grid-template-rows: 10vh 40vh 25vh 25vh;
    }
    .mainHeader {grid-area: header; background:#595e96;}
    .mainNav {grid-area: nav; background: #595e96;}
    .mainContent {grid-area: content; background: #cc4d00;}
    .mainFooter {grid-area: footer; background: #d7d7d7;}
        
/*breakpoints */
        
    @media screen and (max-width: 768px){
    body {background: black;}   
    #main {grid-template-areas: "header" "content" "footer";}
    .mainNav {grid-area: header; margin-top: 0px;}    
    }

/*flexbox */

.mainHeader {
    background: #595e96;
    width: 2500px;
    height: 0px;
    display: flex;
    }

.mainNav {
    background: #595e96;
    width: 2500px;
    height: 1875px;
    display: flex;
    }

.mainContent {
    background: #cc4d00;
    width: 2500px;
    height: 625px;
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    }

.mainFooter {
    background: #d7d7d7;
    width: 2500px;
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    }

/*nav */

h1 {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 120px;
    }
        
h2  {
    color:white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: right;
    }

/*content */    

.link {

    }

/*footer */


h3 {
color:black;
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 60px;
text-align: left;
}

h4 {
color:black;
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 60px;
text-align: none;
}

        