    /*breakpoints */

* {padding: 0; margin: 0;}
.main {
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    }
    
    #main {
        display: grid;
        grid-template-areas: "header header header" "nav nav nav" 
        "content content content" "footer footer footer";
        justify-content: center;
        }

        .mainHeader {grid-area: header; background:#595e96;}
        .mainNav {grid-area: nav; background: #595e96;}
        .mainContent {grid-area: content; background: #cc4d00;}
        .mainFooter {grid-area: footer; background: #d7d7d7;}
                          
    #main {grid-template-areas: "header" "content" "footer";}
    .mainNav {grid-area: header; margin-top: 0px;}    
    
    /*body */
    
    .mainHeader {
        background: #595e96;
        width: 1100px;
        height: 50px;
        display: flex;
        }
    
    .mainNav {
        background: #595e96;
        width: 1100px;
        height: 750px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }
    
        h1 {
            color: white;
            text-decoration: none;
            font-family: 'Livvic', sans-serif;    
            font-size: 40px;
            text-align: center;
            margin-top: 15vh;
            }
    
        .display {
            display: block;
            border: 1px solid #595e96;
            height: 25vh;
            max-width: 0vh;
            margin-top: 0vh;
            object-fit: cover;
            object-position: bottom;
            }
                
        h2  {
            color:white;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-size: 32px;
            text-align-last: right;
            margin-top: 25vh;
            }

    .mainContent {
        background: #cc4d00;
        width: 1100px;
        height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        }
    
        .item {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto; 
            alt: initial;
            grid-area: auto;
            margin-top: 30px;
            }

    .mainFooter {
        background: #d7d7d7;
        width: 1100px;
        height: 250px;
        } 
    
        input, textarea {
            border: 1px solid;
            border-color: black;
            position: relative;
            float: left; 
            margin-top: 100px;    
            }
        
        .email input {
            color:grey;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 25px;
            width: 450px;
            height: 45px;
            }
        
        .enviar input {
            background: #cc4d00;
            color:white;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            font-weight: bold;
            width: 180px;
            height: 47px;
            cursor: pointer;
            }
        
        .enviar input:hover {
            background:#595e96;
            }